body {
  color: #ffccde;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
}

header {
  margin-top: 16px;
  margin-bottom: 40px;
}

footer {
    bottom: 0;
  padding: 6px;
  position: absolute;
  width: 100%;
  align-items: center;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #88888888;
  margin-right: 16px;
  text-decoration: none;
}
img {
  width: 500px;
}
